@import 'tailwindcss';

@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@utility icon-button {
    clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 0 100%);
}

@utility clipping {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @apply bg-fork-blue-dark;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @apply bg-fork-blue-dark;
    }

    & > div {
        z-index: 1;
        position: relative;
    }

    & > div {
        z-index: 1;
        position: relative;
    }
}

@utility console-out-container {
    &::before {
        clip-path: polygon(
                0 0,
                calc(100% - 136px) 0,
                calc(100% - 90px) 48px,
                100% 48px,
                100% 100%,
                0 100%
        );
    }
}

@utility console-in-container {
    &::before {
        clip-path: polygon(0 25px, 50px 25px, 75px 0, 100% 0, 100% 100%, 0 100%);
    }
}

@utility performance-background {
    &::before {
        clip-path: polygon(
                0 0,
                100% 0,
                100% calc(100% - 40px),
                calc(100% - 40px) 100%,
                0 100%
        );
    }
}

@utility ip-container {
    &::before {
        clip-path: polygon(0 25px, 60px 25px, 85px 0, 100% 0, 100% 100%, 0 100%);
    }
}

@utility performance-container {
    min-height: 112px;
}

@utility clip-bottom-right {
    clip-path: polygon(
            0 0,
            100% 0,
            100% calc(100% - 10px),
            calc(100% - 10px) 100%,
            0 100%
    );
}

@utility clip-top-left {
    clip-path: polygon(0 8px, 20px 8px, 30px 0, 100% 0, 100% 100%, 0 100%);
}

@utility performance-circle {
    &::before {
        @apply w-20;
        @apply h-20;
        @apply rounded-full;
    }
}

@utility console-text {
    & > div {
        overflow-wrap: break-word;
    }

    & > div::selection {
        background: var(--color-text-selection);
        @apply text-text-selected;
    }

    & > div::-moz-selection {
        background: var(--color-text-selection);
        @apply text-text-selected;
    }
}

@utility scroll-left {
    direction: rtl;

    & > div {
        direction: ltr;
    }
}

@utility scroll-hidden {
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
    }
}

@utility select-wrapper {
    /* Select */
    position: relative;

    & select {
        clip-path: polygon(
                0 0,
                100% 0,
                100% 100%,
                calc(100% - 12px) 100%,
                calc(100% - 12px) calc(100% - 6px),
                calc(100% - 12px) 0,
                calc(100% - 18px) 0,
                calc(100% - 18px) calc(100% - 0px),
                calc(100% - 24px) 100%,
                0 100%
        );
        cursor: pointer;
        padding-left: 1rem;
        padding-right: 2rem;
        outline: none;
        height: 32px;
    }

    &::after {
        position: absolute;
        content: ' ';
        top: 0;
        right: 0;
        bottom: 0;
        width: 12px;
        clip-path: polygon(
                calc(50% - 3px) calc(50% - 3px),
                calc(50% + 3px) calc(50% - 3px),
                50% calc(50% + 3px)
        );
        pointer-events: none;
        @apply bg-text-dark;
    }

    & select option {
        cursor: pointer;
    }
}

@utility input-wrapper {
    height: 32px;
    display: flex;
    @apply pl-4 pr-1 ml-1 mt-1;
}

@layer base {
    div {
        overflow: hidden;
    }

    body {
        font-family: Montserrat, sans-serif;
    }

    .monospace {
        font-family: "Roboto Mono", monospace;
    }

    .navbar a {
        @apply text-label;
        @apply hover:text-label-hover;
    }

    .navbar a.active {
        @apply text-label-hover;
    }

    @font-face {
        font-family: "icomoon";
        src: url("/resources/fonts/icons.ttf");
    }

    .icon {
        font-family: "icomoon", sans-serif;
    }

    .pixelated {
        -ms-interpolation-mode: nearest-neighbor;
        image-rendering: pixelated;
    }
}

@layer components {


    /* Scrollbar on Firefox */
    * {
        scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-background);
        scrollbar-width: thin;
    }

    /* Scrollbar on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 8px;
    }

    *::-webkit-scrollbar-track {
        background: var(--color-scrollbar-background);
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--color-scrollbar-thumb);
        border-radius: 0;
        border: 0;
    }

    *::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-scrollbar-thumb-hover);
    }

    *::-webkit-scrollbar-thumb:active {
        background-color: var(--color-scrollbar-thumb-active);
    }

    /* --- Inputs --- */
    /* Checkbox */
    label:hover input[type='checkbox'] + span {
        @apply bg-fork-blue-hover
    }

    input[type='checkbox']:checked + span {
        @apply bg-fork-blue-highlighted!
    }
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}

@theme {
    /* -- New -- */
    --color-new-black: #0F101A;
    --color-new-white: #FFFFFF;
    --color-new-offwhite: #747AAC;
    --color-new-nav: #131420;
    --color-new-panel: #131420;
    --color-new-light_panel: #1B1C2D;
    --color-new-red: #F76060;

    /* -- ForkBlue -- */
    /* DEFAULT maps to the base name */
    --color-fork-blue: #1D2030;
    --color-fork-blue-dark: #151622;
    --color-fork-blue-light: #292C3D;
    --color-fork-blue-hover: #2C3358;
    --color-fork-blue-highlighted: #374FC3;

    /* -- Label -- */
    --color-label: #575C82;
    --color-label-hover: #E2E3E9;
    --color-label-selected: #E2E3E9;

    /* -- Text -- */
    --color-text: #A3A8C1;
    --color-text-darkest: #1F2234;
    --color-text-dark: #575C82;
    --color-text-red: #CE5050;
    --color-text-orange: #CEA150;
    --color-text-green: #50CE61;
    --color-text-selected: #151622;
    --color-text-selection: #E2E3E9;

    /* -- Button -- */
    --color-button: #575C82;

    /* -- Status -- */
    --color-status-inactive: #575C82;
    --color-status-orange: #CEA150;
    --color-status-green: #50CE61;
    --color-status-red: #CE5050;

    /* -- Scrollbar -- */
    --color-scrollbar-background: #1D2030;
    --color-scrollbar-thumb: #292C3D;
    --color-scrollbar-thumb-hover: #313549;
    --color-scrollbar-thumb-active: #3b4059;

    /* -- Percentage -- */
    --color-percentage-p0: #374FC3;
    --color-percentage-p10: #50CE61;
    --color-percentage-p20: #6DC856;
    --color-percentage-p30: #92C05E;
    --color-percentage-p40: #ABC757;
    --color-percentage-p50: #CEC450;
    --color-percentage-p60: #CEA150;
    --color-percentage-p70: #CE8B50;
    --color-percentage-p80: #B7684A;
    --color-percentage-p90: #CE6150;
    --color-percentage-p100: #CE5050;
}
