@using ForkCommon.Model.Entity.Enums
<div>
    <div style="height: 12px; width: 12px;" class="rounded-full @($"{Color}")"></div>
</div>

@code {

    [Parameter] public EntityStatus Status { get; set; }

    private string Color
    {
        get
        {
            switch (Status)
            {
                case EntityStatus.Stopped:
                    return "bg-status-inactive";
                case EntityStatus.Starting:
                case EntityStatus.Stopping:
                    return "bg-status-orange";
                case EntityStatus.Started:
                    return "bg-status-green";
                case EntityStatus.Crashed:
                    return "bg-status-red";
                default:
                    throw new ArgumentOutOfRangeException();
            }
        }
    }

}