@using ForkCommon.Model.Entity.Pocos
@using ForkCommon.Model.Entity.Pocos.Settings
@using ForkFrontend.Logic.Services.Connections
@using ForkFrontend.Logic.Services.Managers
@inject EntityConnectionService EntityConnectionService;

<div class="flex flex-1 gap-2">

    @* Settings Selection *@
    <div class="w-52 bg-new-panel">
        @foreach (AbstractSettings settings in _settingsList)
        {
            <div
                class="cursor-pointer px-3 flex items-center h-14 @(_selectedSettings == settings ? "bg-new-light_panel" : "text-new-offwhite hover:text-new-white")"
                @onclick="() => SelectSettings(settings)">
                @GetSettingsName(settings).Item1<span class="opacity-30">@GetSettingsName(settings).Item2</span>
            </div>
        }
    </div>

    @* Presentation *@
    <div class="flex-1 bg-new-panel p-4">
        @if (_selectedSettings != null)
        {
            <DynamicComponent Type="@GetTypeForSettings(_selectedSettings)" Parameters="_selectedSettingsParameters"/>
        }
    </div>

</div>

@code {
    [CascadingParameter] public required ForkErrorBoundary ErrorBoundary { get; set; }

    [CascadingParameter] public required EntityStateManager EntityState { get; set; }

    private IEntity Entity => EntityState.Entity;

    private AbstractSettings? _selectedSettings;
    private Dictionary<string, object?> _selectedSettingsParameters = new();
    private List<AbstractSettings> _settingsList = [];

    protected override async Task OnInitializedAsync()
    {
        List<AbstractSettings>? settings = await ErrorBoundary.RunSavely(EntityConnectionService.GetSettingsAsync(Entity.Id));
        if (settings == null || settings.Count == 0)
        {
            SelectSettings(null);
        }
        else
        {
            _settingsList = settings;
            SelectSettings(settings[0]);
        }
    }

    private Type GetTypeForSettings(AbstractSettings settings)
    {
        if (settings is VanillaSettings)
        {
            return typeof(VanillaSettingsTab);
        }

        if (settings is EntitySettings)
        {
            return typeof(GeneralSettingsTab);
        }

        return typeof(DefaultSettingsTab);
    }

    private void SelectSettings(AbstractSettings? settings)
    {
        _selectedSettings = settings;
        _selectedSettingsParameters = new Dictionary<string, object?>();
        if (settings is VanillaSettings)
        {
            _selectedSettingsParameters[nameof(VanillaSettingsTab.Settings)] = settings;
        }

        if (settings is EntitySettings)
        {
            _selectedSettingsParameters[nameof(GeneralSettingsTab.Settings)] = settings;
        }
    }

    /**
     * Generate name and postfix for settings names
     */
    private Tuple<string, string> GetSettingsName(AbstractSettings settings)
    {
        if (settings.Name.Contains("."))
        {
            string name = settings.Name.Substring(0, settings.Name.LastIndexOf(".", StringComparison.Ordinal));
            string postfix = settings.Name.Substring(settings.Name.LastIndexOf(".", StringComparison.Ordinal));
            return Tuple.Create(name, postfix);
        }

        return Tuple.Create(settings.Name, "");
    }

}